<div class="offset-sm-3 col-sm-6">
  <%= simple_form_for(@restaurant) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category %>
    <%= f.submit %>
  <% end %>
</div>
<%= link_to "Go back", restaurants_path %>
